.surveyForm {
    label.question-title {
        display: block;
        margin-bottom: 10px;
    }
    .form-check-label {
        margin-inline: 5px 20px;
    }
    fieldset {
        margin-top: 20px;
    }

    .image-upload-container {
        position: relative;
      }
      img {
        max-width: 100%;
      }
      
      .image-upload-label {
        display: block;
        position: relative;
        height: 100px;
        border: 2px dashed #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        text-align: center;
        cursor: pointer;
      }
      
      .image-upload-input {
        display: none;
      }
      
      .image-upload-dropzone {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .image-upload-icon {
        font-size: 24px;
        color: #888;
      }
      
      .image-upload-text {
        display: block;
        margin-top: 10px;
        font-size: 14px;
        color: #888;
      }
      
}
