.surveyForm {
    label.question-title {
        display: block;
        margin-bottom: 10px;
    }
    .form-check-label {
        margin-inline: 5px 20px;
    }
    fieldset {
        margin-top: 20px;
    }
}
